<!DOCTYPE html>
<html lang="en" ng-app="PiSpyApp">
  <!--# include file="head.html" -->
  <body>
  <!--# include file="top.html" -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Filename</th>
            <th>KBytes</th>
            <th>MD5</th>
            <th>Modified</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody ng-controller="ArchiveControllerLS">
          <tr ng-repeat="file in archive.contents">
            <td><a href="/archive/{{ file.filename }}">{{ file.filename }}</a></td>
            <td>{{ file.bytes / 1024 | number:1 }}</td>
            <td>{{ file.md5sum }}</td>
            <td>{{ file.mtime * 1000 | date:'yyyy-MM-dd HH:mm' }}</td>
            <td>
							<a href ng-click="deleteFile({{file.filename}}, $index)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true">
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <a class="btn btn-default" href="/archive" role="button">old archive</a>
      <br/>
      <br/>
  <!--# include file="bottom.html" -->
  </body>
</html>
